@import '../../styles/global-variables';
@import '../../styles/global-mixins';

.all{
    padding: 0rem 1rem;
    @include tablet(){
        padding: 0rem 1.5rem;
     }
    @include desktop(){
        padding:0rem 11.25rem;
    }
}
.header{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    @include tablet(){
        padding-bottom: 2.5rem;
        border-bottom: 1.5px solid $divider-color;
        margin-bottom:2.5rem;
     }
    &-top{
        display: flex;
        align-items: center;
        margin-top:3rem;
        &__title{
            @include h1-header();
            margin: 0rem;
        }
        &__icon{
            height:1.5rem;
            margin-right:1.5rem;
        }
    }
    &__button{
        width:100%;
        @include tablet(){
            width:auto;
        }
        &--status{
            width:5.5rem;
            height:1.5rem;
            margin:1.5rem 0rem 2.5rem 0rem;
            border:none;
            border-radius:4px;
            font-family: $font-reg;
            color:$white;
            background-color:rgb(105, 176, 45);
            @include tablet(){
                margin-top:3.7rem;
                margin-bottom: 0;
                margin-left:1.5rem;
            }
        }
    }
}

.main{
    display: flex;
    flex-direction: column;
    @include tablet{
        margin:0 0 2.5rem 0;
        border-bottom: 1.5px solid $divider-color;
    }
    @include desktop(){
        flex-direction: row;
     }
    &__description{
        width:100%;
        display: flex;
        flex-direction: column;
        @include tablet(){
            width:80%;
        }
        @include desktop(){
           width:50%;
        }
        &-label{
            @include m-h5-labels();
            font-family: $font-demi-bold;
            margin-bottom: 0.5rem;
        }
        &-content{
            @include m-h4-paragraph();
            margin:0 0 2rem 0;
        }   
    }
    &__info{
        @include tablet(){
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom:3rem;
            @include desktop(){
                width:50%;
             }
        }
        &-item{
            display: flex;
            flex-direction: column;
            @include tablet(){
                width:50%;
            }
            &-category{
                @include tablet(){
                    width:100%;
                }
            }
            &-label{
                @include m-h5-labels();
                margin-bottom: 1rem;
                font-family: $font-demi-bold;
                margin-bottom: 0.5rem;
            }
            &-content{
                @include m-h4-paragraph();
                margin:0 0 2rem 0;
                @include tablet{
                    &--bottom{
                        margin:0;
                    }
                }
            }
        }
    }
}
.button{
    width:100%;
    display: flex;
    justify-content: flex-end;
    &--edit{
        width:100%;
        height:3rem;
        border:none;
        border-radius:4px;
        color:$white;
        background-color: $primary-cta;
        @include tablet{
            width:10rem;
        }
    }
}