// Colors

$global-black: #323232;

$para-text: #323232;

$text-label-style: #AFAFAF; // This color used in 'h5-labels' mixin

$text-field-border: #E1E1E1;

$text-field-background-fill: #FAFAFA;

$divider-color: #E1E1E1;

$white: #FFF;

//inStock

$nav-bg: #323232;

$primary-cta: #004892;

$primary-cta-hover: #002F5F;

// Fonts

$font-reg: 'Avenir Next Regular', sans-serif;

$font-demi-bold: 'Avenir Next Demi Bold', sans-serif;

$font-bold: 'Avenir Next Bold', sans-serif;

